.ym{
  width: 90px;
  font-size: 13px;
  height: 20px;
}
.withoutTransactions{
  font-size: 30px;
}
.fio{
  width: 200px;
}

.form-control-sum{
  display: flex;
  margin: 30px auto;
  width: 50%;
}
.sum{
  width: 100%;
  margin-right: 10px;
}
.sumBtn{
  display: flex;
  margin: 0 auto;
}



