@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Убрать стрелки у инпута суммы
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.1rem 1.1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.mat-form-field-wrapper{
  margin-top: 13px;

}
.mat-form-field-flex{
  background-color: white !important;
}

.mat-form-field-underline{
  width: 0px !important;
}


input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.loader{
  margin:200px auto;
}
.form-control {
  display: block;
  margin: 1.2rem 0;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0 auto;
  min-width: 400px;
  height: 210px;
  border-radius: 20px;
}

